.container {
    width: 90%;
    margin: auto;
    height: auto;
    position: relative;
}
.parallax {
    width: 100%;
    height: 500px;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
}

#one {
    background-image: url("https://i.picsum.photos/id/866/1000/500.jpg");
}
#two {
    position: relative;
    height:0px;
    top: 20px;
    margin-top: -20px;
    background-image: url("https://i.picsum.photos/id/865/1000/500.jpg");
}
#three {
    background-image: url("https://i.picsum.photos/id/868/1000/500.jpg");
}